<!-- <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="false"> -->
<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="false">
    <h2 class="text-center text-primary">Regístrate</h2>
    <hr>
    <div class="mb-3">
        <input type="text"
            [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
            class="form-control"
            placeholder="Nombre de usuario"
            formControlName="username">
            <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">
                Debes ingresar tu nombre de usuario</div>
    </div>
    <div class="mb-3">
        <input type="password"
            [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
            class="form-control"
            placeholder="Contraseña"
            formControlName="password">
            <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength')">
                Debes ingresar una contraseña de al menos 5 caracteres y menos de 15</div>
    </div>
    <div class="mb-3">
        <input type="password"
        [class.is-invalid]="registerForm.get('confirm_password')?.errors"
            class="form-control"
            placeholder="Confringo Password"
            formControlName="confirm_password">
            <div class="invalid-feedback" *ngIf="!registerForm.get('password')?.hasError('notmatching')">
                Las contraseñas deben ser iguales</div>
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Registrarme</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancelar</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>